.inc-exp-container{
    display: flex;
    background-color: beige;
    box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  }

  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }

  .inc-exp-container > div:first-of-type {
    border-right: 2px solid #dedede;
  }

  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .money.plus {
    color: #b6960a;
    font-weight: bold;
  }
  
  .money.minus {
    color: #2da3ad;
    font-weight: bold;
  }